.camera-button {
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
  width: 250px;
  transition: all 0.2s ease;
  border: 1px solid #f2f2f2;
}

.camera-button:hover,
.camera-button.active {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #eefe3f;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f8f8f8;
  font-size: 14px;
  font-weight: 300;
}

/* Resto do CSS permanece igual */